/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.noto-sans-h1 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-h2 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h4,
.nav li,
.menusList li {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 380;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  list-style: none;
}


p,
li {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main {
  display: grid;
  grid-template-columns: 0.75fr repeat(4, 1fr) 0.75fr;
  grid-template-rows: 0.15fr repeat(3, 1fr) 0.25fr;
  gap: 2% 1%;
  grid-auto-flow: row;
  width: 100vw;
  height: 100vh;
}

.title-area-home {
  grid-area: 2 / 2 / 4 / 4;
}

.title-area-slim {
  grid-area: 2 / 2 / 2 / 4;
}

.title {
  display: grid;
  place-items: center;
  background-image: url("img/title-dessert.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
}

.backdrop {
  background-color: rgba(255, 255, 255, 0.50);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: fit-content;
  padding: 2% 5%;
}

.nav {
  grid-area: 2 / 5 / 2 / 6;
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
  /* Add spacing between list items */
}

.nav a {
  display: block;
  /* Make entire area clickable */
  padding: 1em 0 1em 1em;
  /* Add padding for visual appeal */
  text-decoration: none;
  /* Remove default link underline */
  color: #333;
  /* Set a default text color */
}

/* Focus state for keyboard navigation */
.nav a:focus {
  outline: none;
  /* Remove default outline */
  background-color: #eee;
  /* Add subtle background on focus */
}

/* Optional: Hover state for mouse users */
.nav a:hover {
  text-decoration: underline;
  /* Add underline on hover */
}